*{
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding:0;
}

*,
*::before,
*::after {
  box-sizing: border-box;

}

.content{
    padding-right: 200px;
    padding-left: 200px;
}

h1, h2, h3{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
}

/*nav*/
nav i{
    font-size: 1.5em;
    padding: 20px;
}


/*liste des ordinateurs*/
.ordinateurs{
    width: 100%;
    display: flex;
    flex-direction: column;

}
    .list-ordi{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .list-ordi-item{
            height: 400px;
            width: 400px;
        }
            .list-ordi-item-photo{
                height: 380px;
                display: flex;
                align-items: flex-end;
            }
                .list-ordi-item-photo img{
                    width: 100%;
                }
            .list-ordi-item-text{
               color :red;
            } 

/*presentations des ordinateurs*/

.ordinateur_presentation{
    display: flex;
    flex-direction: column;
}
    
    .ordinateur_presentation-head{
        display: flex;
        align-items: center;
    }

        .ordinateur_presentation-img{
            height: 400px;
            width: 400px;
            content: " ";
            background-image: var(--image-src);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

    .caracteristiques{
        display: flex;
        padding-bottom: 30px;
        padding-top: 30px;
        padding-right: 50px;
        padding-left: 50px;
        width: 600px;
    }
    .caracteristiques.color{
        background-color: rgba(255, 232, 232, 1);
        border-radius: 50px;
    }
        .caracteristiques .name{
            width: 300px;
        }




/*comparateur*/
.comparateur{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .comparateur .list-item-ordi{
        display: flex;
    }




